.account {
    --padding-start: 0px;
    ion-label {
      --font-size: 15px;
      --color: #707070 !important;
      h2 {
        color: #212121 !important;
        --font-size: 18px;
        --margin: 10px 0px 5px 0px;
      }
    }
}
