.my-custom-btn1 .alert-button-inner {
    color:#fff;
    background-color: black;
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: bold;
  }
  .my-custom-btn2 .alert-button-inner {
    color:#fff;
    background-color:#E22D2D;
    padding: 7px 15px;
    border-radius: 20px;
    font-weight: bold;

  }